@using Application.Common.Responses.Views
@{
    var news = Model as NewsView ?? new NewsView();
}
<div class="news-item-main">
    <div class="news-item-wrap">
        <a class="news-item-img" href="/news/detail/@news.Ud">
            <img title="@news.Name" src="@news.Image" />
            <div class="news-item-title">
                <h1>@news.Name</h1>
            </div>
        </a>
        <div class="news-item-info">
            <div class="d-flex news-item-detail align-items-center">
                <a class="text-uppercase news-item-type" href="/news/@news.TypeUd">@news.TypeName</a>
                <p class="news-item-separate">&nbsp;|&nbsp;</p>
                <p class="news-item-date"><i class="fa-solid fa-clock"></i> @news.CreatedDate.ToString("HH:mm dd/MM/yyyy")</p>
            </div>
        </div>
        <p class="news-item-content">@news.Description</p>
    </div>
</div>