@using Application.Common.Responses
@using Application.Common.Supports
@using Domain.Constants
@using Domain.Entities
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    DataResponse<NewsEntity>? model = Model;
}

@section AddToHead {
    <link rel="stylesheet" href="~/admin/css/gallery.css" />
    <link rel="stylesheet" href="~/admin/css/form.css" />
    <link rel="stylesheet" href="~/admin/css/item.css" />
    <link rel="stylesheet" href="~/admin/css/paging.css" />
    <link rel="stylesheet" href="~/admin/css/image_upload.css" />
    <link rel="stylesheet" href="~/libs/summernote/summernote-bs5.css" />
    <script src="/libs/summernote/summernote-bs5.js"></script>
}

<p class="layout-title">
    @(model != null ? "Xem chi tiết tin tức" : "Tạo bài viết")
</p>

<div class="container-fluid flex-grow-1 lb-body layout-item">
    @if (model != null && model.Message.Type == MessageType.Error)
    {
        <div class="no-data">
            <img title="Không có dữ liệu" alt="Hình ảnh biểu thị cho danh sách trống" src="/shared/images/no_data.svg" />
            <p>@(model!.Message.Name)</p>
        </div>
    }
    else
    {
        <div class="row">
            <div class="py-3 d-flex justify-content-end">
                <button type="button" id="btn-save" onclick="" class="btn btn-save ms-3" title="Lưu baì viết">Lưu</button>
            </div>
            <div class="col-12">
                
                <div class="my-2">
                    <input type="hidden" id="id" value="@(model != null ? model.Data.Id : "")" />
                    <div class="form-title-wrap">
                        <p class="form-title">Phân loại bài viết</p>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-6 col-md-6 col-xl-3 my-2">
                            <input type="hidden" id="imageId" name="imageId" value="@(model?.Data.ImageId)" />
                            <label for="" class="form-label">Chọn ảnh: (<span class='text-danger'>*</span>)</label>
                            @await Html.PartialAsync("~/Areas/Admin/Views/Shared/Components/ChooseOrUploadImage.cshtml", 
                                new { 
                                    Key = "news", Require = true, 
                                    Src = ViewBag.Src,
                                }
                            )
                        </div>

                        <div class="col-12 col-sm-6 col-md-6 col-xl-3 my-2">
                            <label for="" class="form-label">Trạng thái: (<span class="text-danger">*</span>)</label>
                            <div class="input-group" id="filter-status">
                                <input type="radio" class="btn-check" name="status" value="Draft" id="Draft" autocomplete="off" />
                                <label class="btn btn-outline-warning form-control-left" for="Draft">Nháp</label>

                                <input type="radio" class="btn-check" name="status" value="Active" id="Active" autocomplete="off" />
                                <label class="btn btn-outline-warning form-control-between" for="Active">Hoạt động</label>

                                <input type="radio" class="btn-check" name="status" value="InActive" id="InActive" autocomplete="off" />
                                <label class="btn btn-outline-warning form-control-right" for="InActive">Ngừng</label>
                            </div>
                        </div>

                        <div class="col-12 col-sm-6 col-md-6 col-xl-3 my-2">
                            <label for="filter-range-date" class="form-label">Loại tin tức: (<span class="text-danger">*</span>)</label>
                            <div class="input-group" id="filter-type">
                                <input type="radio" class="btn-check" name="type" value="project" id="project" autocomplete="off" />
                                <label class="btn btn-outline-warning form-control-left" for="project">Tin dự án</label>

                                <input type="radio" class="btn-check" name="type" value="market" id="market" autocomplete="off" />
                                <label class="btn btn-outline-warning form-control-right" for="market">Tin thị trường</label>
                            </div>
                        </div>

                        <div class="col-12 col-sm-6 col-md-6 col-xl-3 my-2">
                            <label for="filter-range-date" class="form-label">Nổi bật: (<span class="text-danger">*</span>)</label>
                            <div class="input-group" id="filter-isHighlight">
                                <input type="radio" class="btn-check" name="isHighlight" value="true" id="true" autocomplete="off" />
                                <label class="btn btn-outline-warning form-control-left" for="true">Nổi bật</label>

                                <input type="radio" class="btn-check" name="isHighlight" value="false" id="false" autocomplete="off" />
                                <label class="btn btn-outline-warning form-control-right" for="false">Bình thường</label>
                            </div>
                        </div>

                        <div class="col-12 col-sm-10 col-md-10 col-lg-6 col-xl-6 my-2">
                            <label for="ud" class="form-label">Liên kết: (<span class="text-danger">*</span>)</label>
                            <input type="text" class="form-control" name="ud" value="@(model?.Data.Ud)" id="ud" autocomplete="off" />
                        </div>

                        <div class="col-4 col-sm-2 col-md-2 col-lg-2 col-xl-1 my-2">
                            <label for="order" class="form-label">Thứ tự: </label>
                            <input type="number" class="form-control" name="order" value="@(model?.Data.Order)" id="order" autocomplete="off" />
                        </div>
                    </div>
                </div>

                <div class="my-2">
                    <div class="form-title-wrap">
                        <p class="form-title">Thông tin chi tiết</p>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-6 my-2">
                            <label for="name" class="form-label">Tiêu đề (<span class="text-danger">*</span>):</label>
                            <textarea id="name" class="description form-control">@(model?.Data.Name)</textarea>
                        </div>
                        <div class="col-12 col-lg-6 my-2">
                            <label for="description" class="form-label">Mô tả ngắn (<span class="text-danger">*</span>):</label>
                            <textarea id="description" class="description form-control">@(model?.Data.Description)</textarea>
                        </div>
                    </div>
                </div>
            
                <div class="my-2">
                    <div class="form-title-wrap">
                        <p class="form-title">Soạn nội dung HTML</p>
                    </div>
                    <div class="row">
                        <div class="col-12 my-2">
                            <div class="form-group">
                                <label class="form-label" for="content">Nội dung bài viết: (<span class="text-danger">*</span>)</label>
                                <textarea id="content">@(Html.Raw(Uri.UnescapeDataString(model?.Data.Content ?? "")))</textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="" style="height:10rem"></div>
    }
</div>

@await Html.PartialAsync("~/Areas/Admin/Views/Shared/Components/GalleryModal.cshtml", new { Key = "", Amount = 5 })

@section AddToFooter {
    <script type="text/javascript">
        var imageKey = '';
        function selectedImageId(key, id) {
            $("#imageId").val(id);
        }
        function removedImageId(key) {
            $("#imageId").val("");
        }

        $("input[name='status'][value='" + '@(model?.Data.Status ?? StatusConstant.Draft)' + "']").attr("checked", "checked");
        $("input[name='type'][value='" + '@(model?.Data.Type ?? NewsTypeConstant.Market)' + "']").attr("checked", "checked");
        $("input[name='isHighlight'][value='" + @(model?.Data.IsHighlight == true ? "true" : "false") + "']").attr("checked", "checked");

        $(document).ready(function () {
            $('#content').summernote({
                placeholder: 'Tạo nội dung cho bài viết',
                height: 800,
                toolbar: [
                    ['style', ['style']],
                    ['font', ['bold', 'underline', 'clear']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['table', ['table']],
                    ['insert', ['link', 'picture', 'video']],
                    ['view', ['fullscreen', 'codeview', 'help']]
                ]
            });
        });
    </script>
    <script src="~/admin/js/paging.js"></script>
    <script src="~/admin/js/verify.js"></script>
    <script src="~/admin/js/choose_or_upload_image.js"></script>
    <script src="~/admin/js/image_upload.js"></script>
    <script src="~/admin/js/News/item.js"></script>
    <script src="~/admin/js/api_service.js"></script>
}