<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8" />
    <title>@(ViewBag.Title ?? "Bất động sản hot")</title>
    <link rel="icon" type="image/x-icon" href="~/shared/images/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="~/libs/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/libs/font-awesome/css/all.min.css">

    <script src="~/libs/jquery/jquery.js"></script>
    <script src="~/libs/bootstrap/js/bootstrap.js"></script>

    <link rel="stylesheet" href="~/shared/css/font.css" />
    <link rel="stylesheet" href="~/client/css/layout.css" />
    <link rel="stylesheet" href="~/shared/css/loader.css" />
    <link rel="stylesheet" href="~/shared/css/notify.css" />
    <link rel="stylesheet" href="~/client/css/header.css" />
    <link rel="stylesheet" href="~/client/css/footer.css" />
    <style>
        .contact-float-phone .contact-float-item::after {
            background-color: #557156;
        }

        .contact-float-zalo .contact-float-item::after {
            background-color: #589AB7;
        }

        .contact-float-send .contact-float-item::after {
            background-color: #C7749C;
        }
    </style>

    @if (IsSectionDefined("AddToHead"))
    {
        @RenderSection("AddToHead", required: false)
    }
</head>
<body>
    @await Html.PartialAsync("Header")

    @RenderBody()

    @await Html.PartialAsync("Footer")

    <div class="contact-float contact-float-send" style="bottom: 5rem">
        <div class="contact-float-icon d-flex justify-content-center align-items-center"
             style="background-color: #CB2474">
            <i class="fa-solid fa-paper-plane"></i>
        </div>
        <!-- Button trigger modal -->
        <button type="button" class="contact-float-button btn btn-primary" style="background-color: #C7749C" data-bs-toggle="modal" data-bs-target="#send-info-modal">
            Gửi yêu cầu
        </button>

        @* <div class="contact-float-item" style="background-color: #C7749C">
            <div class="contact-float-body">
                <p class="mb-1 contact-float-header">Điền thông tin để chúng tôi có thể tư vấn cho bạn!</p>
                <label>Dự án: </label>
                <input title="project" id="contact-float-phone-project" autocomplete="off" type="text" name="contact-float-project" />
                <label>Số điện thoại: </label>
                <input title="Số điện thoại" id="contact-float-phone" autocomplete="off" type="tel" name="contact-float-phone" />
                <button type="button" class="contact-float-send-button" title="Chúng tôi sẽ gọi và tư vấn cho bạn!" onclick="">Gửi</button>
            </div>
        </div> *@
    </div>

    <div class="contact-float contact-float-phone" style="bottom: 13rem">
        <div class="contact-float-icon d-flex justify-content-center align-items-center" 
            style="background-color: #275E29">
            <i class="fa-solid fa-phone"></i>
        </div>
        <div class="contact-float-item" style="background-color: #557156">
            <p class="my-1 contact-float-header">Liên hệ qua điện thoại!</p>
            <p class="my-1 me-2">0868754872</p>
            <div class="d-flex">
                <div class="d-flex contact-float-copy me-2">
                    <button type="button" title="Copy số điện thoại" onclick="addToClipBoard('0868754872')"><i class="fa-regular fa-copy"></i> Copy</button>
                </div>
                <div class="d-flex contact-float-open">
                    <button type="button" onclick="window.open('tel:0868754872', '_blank')" title="Gọi điện">Gọi điện</button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="contact-float contact-float-zalo" style="bottom: 9rem">
        <div class="contact-float-icon d-flex justify-content-center align-items-center"
             style="background-color: #0180C7">
            <img title="Contact Zalo Icon" src="~/client/images/icon/contact-zalo.svg" />
        </div>
        <div class="contact-float-item" style="background-color: #589AB7">
            <p class="my-1 contact-float-header">Liên hệ qua Zalo!</p>
            <p class="my-1 me-2">0868754872</p>
            <div class="d-flex">
                <div class="d-flex contact-float-copy me-2">
                    <button type="button" title="Copy số điện thoại" onclick="addToClipBoard('0868754872')"><i class="fa-regular fa-copy"></i> Copy</button>
                </div>
                <div class="d-flex contact-float-open">
                    <button type="button" onclick="window.open('https://zalo.me/0868754872', '_blank')" title="Mở Zalo">Mở zalo</button>
                </div>
            </div>
        </div>
    </div>
    
    <button type="button" title="Scroll to top" onclick="scrollToTop()" class="scroll-to-top"></button>

    <!-- Modal -->
    <div class="modal fade" id="send-info-modal" tabindex="-1" aria-labelledby="sendInfoModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content contact-form">
                <div class="modal-header">
                    <h5 class="modal-title contact-form-title" id="sendInfoModalLabel">Thông tin liên hệ</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="" id="send-contact-modal" method="post" action="">
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <input type="text" name="name" title="Họ và tên" placeholder="Họ và tên (*)" id="modal-name" />
                            </div>
                            <div class="col-12 col-md-6">
                                <input type="text" name="address" title="Địa chỉ" placeholder="Địa chỉ" id="modal-address" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 col-md-6">
                                <input type="tel" name="phone" title="Số điện thoại" placeholder="Số điện thoại (*)" id="modal-phone" />
                            </div>
                            <div class="col-12 col-md-6">
                                <input type="email" name="email" title="Email" placeholder="Email (*)" id="modal-email" />
                            </div>
                        </div>

                        <textarea name="content" id="modal-content" title="Nhập nội dung cần liên hệ" placeholder="Nhập nội dung cần liên hệ (*)"></textarea>
                        <button type="button" title="Gửi thông tin" onclick="sendContact('send-contact-modal')">GỬI THÔNG TIN</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Loader -->
    <div id="loader" class="d-none">
        <div class="loader-wrap">
            <div class="loader-circle"></div>
        </div>
    </div> 

    <!-- Message -->
    <div class="container position-fixed bottom-0">
        <div class="messages row">
            <div class="messages-wrap col-12 col-md-10 col-lg-8 col-lg-6" id="message-wrap">
                <div class="alert alert-danger message message-error alert-dismissible fade d-none" role="alert">
                    <i class="fa-solid fa-circle-xmark me-1"></i>
                    <strong>Error! </strong>
                    <span></span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <div class="alert alert-warning message message-warning alert-dismissible fade d-none" role="alert">
                    <i class="fa-solid fa-circle-exclamation me-1"></i>
                    <strong>Warning! </strong>
                    <span></span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <div class="alert alert-success message message-success alert-dismissible fade d-none" role="alert">
                    <i class="fa-solid fa-circle-check"></i>
                    <strong>Success! </strong>
                    <span></span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">

        function scrollToTop() {
            window.scrollTo({ top: 0, behavior: 'smooth' });
        }    

        function addToClipBoard(data) {
            navigator.clipboard.writeText(data).then(function () {
                showMessage('success', "Bạn vừa copy \"" + data + "\".")
            }, function (err) {
                showMessage('error', "Không thể copy, có thể tính năng copy đã bị chặn trên trang này!.")
            });
        }

        function onScroll() {
            if (typeof onHomeScroll === "function") {
                onHomeScroll();
            }
            if (typeof onNewsScroll === "function") {
                onNewsScroll();
            }
            if (typeof onProjectsScroll === "function") {
                onProjectsScroll();
            }
        }
        window.onscroll = onScroll;

        function sendContact(id) {
            $.ajax({
                url: 'api/contact/send-contact',
                type: 'POST',
                data: $("#" + id).serialize(),//dataJson,
                datatype: 'json',
                beforeSend: loading,
                complete: loaded,
                success: function (data) {
                    // do something if warning
                    if (data.message.type == 1) {
                        showMessage('warning', data.message.name)
                        return;
                    }
                    // do something if error
                    if (data.message.type == 2) {
                        showMessage('error', data.message.name)
                        return;
                    }
                    // success response
                    // do something if success
                    showMessage('success', "Chúng tôi sẽ liên hệ với bạn sớm nhất có thể!");
                    if (id == "send-contact-modal") {
                        $("#send-info-modal").modal('hide');
                    }
                },
                error: function (xhr, textStatus, errorThrown) {
                    // error api
                    // do something if error
                    // alert(xhr.responseJSON.name);
                    showMessage('error', xhr.responseJSON.name)
                },
            });
        }
    </script>
    <script type="text/javascript" src="~/shared/js/notify.js"></script>
    <script type="text/javascript" src="~/shared/js/loader.js"></script>

    @if (IsSectionDefined("AddToFooter"))
    {
        @RenderSection("AddToFooter", required: false)
    }
</body>
</html>