@using Application.Common.Responses
@using Application.Common.Responses.Admin
@{
    ViewBag.LayoutTitle = "Danh sách người dùng";
    ViewBag.Title = "Danh sách người dùng";

    Layout = "~/Areas/Admin/Views/Shared/_LayoutIndex.cshtml";
    PagingResponse<UserResponse> model = Model ?? new PagingResponse<UserResponse>();

    ViewBag.Max = model.Max;
    ViewBag.Current = model.Current;
    ViewBag.Count = model.List.Count;
}
@* 
@section AddToHead {
} *@

@section FilterForm {
    <div class="filter-control my-2">
        <div class="form-title-wrap">
            <p class="form-title">Lọc danh sách</p>
        </div>
        <div class="row">
            <div class="col-12 my-2">
                <label for="value" class="form-label">Lọc theo username:</label>
                <input type="text" class="form-control" name="value" id="value" autocomplete="off" placeholder="Nhập nội dung tìm kiếm">
            </div>
            <div class="col-12 my-2">
                <label for="valueFilter1" class="form-label">Lọc theo email:</label>
                <input type="text" class="form-control" name="valueFilter1" id="valueFilter1" autocomplete="off" placeholder="Nhập nội dung tìm kiếm">
            </div>

            <div class="col-12 my-2">
                <label class="form-label">Lọc loại tin tức: </label>
                <div class="input-group" id="filter-lock">
                    <input type="checkbox" class="btn-check" name="isLock" value="true" id="true" />
                    <label class="btn btn-outline-warning form-control-left" for="true">Đã bị khóa</label>

                    <input type="checkbox" class="btn-check" name="isLock" value="false" id="false" />
                    <label class="btn btn-outline-warning form-control-right" for="false">Đang hoạt động</label>
                </div>
            </div>
        </div>
    </div>
}

@section ControlTools {
    <div class="py-3 d-flex justify-content-end">
        <button type="button" onclick="window.location.href = '/admin/user/item'" class="btn btn-create" title="Tạo mới">Tạo mới</button>
    </div>
}

<table class="table table-striped table-bordered table-hover">
    <thead class="table-dark">
        <tr>
            <th scope="col">#</th>
            <th class="" scope="col">Tên người dùng</th>
            <th class="" scope="col">Thông tin</th>
            <th scope="col">Trạng thái</th>
        </tr>
    </thead>
    <tbody>
        @for (var i = 0; i < model.List.Count; i++)
        {
            <tr>
                <td class="">@((model.Current - 1) * model.PerPage + i + 1)</td>
                <td class="">
                    <a class="item-td-link" href="/admin/user/item?id=@(model.List[i].Id)" title="Chuyển sang trang chi tiết">
                        @(model.List[i].Name)
                    </a>
                </td>
                <td class="">
                    <p class="mb-0 item-td-username">@(model.List[i].Username)</p>
                    <p class="mb-0 item-td-email">@(model.List[i].Email)</p>
                </td>
                <td>
                    <p class="mb-0 item-td-@(model.List[i].LockoutEnd == null ? "unlock" : "lock")">@(model.List[i].LockoutEnd == null ? "Đang hoạt động" : "Bị khóa")</p>
                    @if (model.List[i].LockoutEnd != null)
                    {
                        <p class="mb-0">
                            Thời hạn @(model.List[i].LockoutEnd!.Value.ToString("HH:mm dd/MM/yyyy"))
                        </p>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@section AddToFooter {
    <script type="text/javascript">
        var urlParams = new URLSearchParams(window.location.search);
        $("#value").val(urlParams.get("value"));
        $("#valueFilter1").val(urlParams.get("valueFilter1"));
        var perPage = urlParams.get("perPage") ?? '';
        $("#perPage").val(perPage == '' ? @(model.PerPage) : perPage);
        $("#currentPage").val(@(model.Current));
        initCheckboxFromUrl('isLock', [true, false]);
    </script>
}